@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 >Health and Fitness</h2>
    <a asp-controller="Pedometer" asp-action="Steps" class="btn btn-primary btn-lg">Claculate Your Calories</a>
</div>

